.app-container {
    display: flex;
    margin-top: -25px;
}

.content-container-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;
}

.audio-player-overlay {
    width: 30%;
    position: absolute; 
    bottom: 80px;
    z-index: 9999;
    display: flex;
    flex-direction: row; /* שיניתי כדי לשים את הכפתורים בשורה */
    align-items: center;
    justify-content: center;
    margin-left: -80px;
}

.control-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px; /* רווח בין הכפתורים */
}

.PlayPause {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#map {
    flex: 1;
    height: 795px;
    margin: 0;
    position: relative; 
}

.sidebar {
    width: 20%;
    height: 795px;
    background-color: #f9e5d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
    position: relative; 
    padding: 50px;
}

.petName {
    font-weight: bold;
    background-color: #B5D1D4; 
    padding: 16px 93px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    border-color: #B5D1D4;
    white-space: nowrap;
}

.add-microchip-button {
    background-color: #f9a972;
    padding: 16px 70px;
    border-radius: 5px;
    margin-top: 630px; /* Moves the button to the bottom */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    white-space: nowrap; /* כפתורים באותו גודל */
}

select {
    background-color: #f9e5d5;
    padding: 16px 63px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
    outline: none;
    border: 2px solid black; 
    border-radius: 5px;
    white-space: nowrap; /* כפתורים באותו גודל */
}

select:focus {
    border-color: #000000;
}

select option {
    background-color: #f9e5d5;
    color: black;
}

.show1 {
    background-color: #B5D1D4; 
    padding: 16px 80px;
    border-radius: 5px;
    margin-bottom: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    border-color: #B5D1D4;
    white-space: nowrap; /* כפתורים באותו גודל */
}

.show2 {
    background-color: #B5D1D4; 
    padding: 16px 90px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    border-color: #B5D1D4;
    white-space: nowrap;
}

.show:hover {
    background-color: #f9e5d5;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    flex: 1; 
}

.history {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

.map-streetview-container { 
    width: 20%; 
    height:25%;
    bottom: 130px; 
    position: absolute !important;
    z-index: 9999;
}

.timestamp-container {
    margin-top: 320px;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 300000; /* ודא שיש ז-אינדקס גבוה מספיק */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    white-space: nowrap; /* כפתורים באותו גודל */
}
