@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.container {

    height: 785px;
    background-color: #f0f0f0;
    padding: 70px;
    margin-top: -27px;
    flex-direction: row-reverse;
}
.image-section {
    background-image: url("./media/dog1.png");
    background-size:60%; 
    background-repeat: no-repeat;
    margin-top: -150px; 
    background-position: center right; 
    margin-right: -305px;
    height: 970px;
    width: auto; 
    
}



.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 30%;
    border: 5px solid #fab681;
    background-color:#fab681 ;
    height: 400px;   
    width: 500px; 
    margin-top: -740px;
    margin-left: 100px;  
    z-index: 1111;
}



.Hello {
    margin-top: -400px;
    font-size: 30px;
    font-weight: 1000;
    padding: 10px;
}

.Miss {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400; /* Normalized font-weight */
}


.location {
    padding: 15px 40px;
    cursor: pointer;
    display: block;
    background: #B5D1D4;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin: 20px;
    font-family: 'Josefin Sans';
    color: rgb(44, 44, 44);
    margin-bottom: -400px;
    font-size: 15px;
    font-weight: 1000;
}

.paw{
    background-image: url("./media/paw.png");
    width: 10px;
}