/* Login.css */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 12, 12, 4);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: #f7c99c;
  margin: auto;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-boxx {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-btn1 {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  transition:  0.3s ease, color 0.3s ease;
  font-family: "Josefin Sans", sans-serif;
}

.toggle-btn1.active {
  background: #f7934b;
  color: white;
  border-radius: 5px;
}

.social-icons {
  margin: 10px auto;
  text-align: center;
}

.social-icons img {
  width: 30px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.input-left,
.input-right {
  width: 49%;
  margin-bottom: 0;
  font-family: "Josefin Sans", sans-serif;
}

.input-left {
  margin-right: 2%;
  font-family: "Josefin Sans", sans-serif;
}

.input-right {
  margin-top: -40px;
  font-family: "Josefin Sans", sans-serif;
}

.input-field1,
.input-field {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 15px;
  padding-left: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.input-field1_login,
.input-field_login {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  display: flex;
  width: 60%;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 15px;
  padding-left: 20px;
  align-items: center;
  margin-left: 90px;
  font-family: "Josefin Sans", sans-serif;
}

.submit-btnn {
  width: 120px;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 30px auto 70px auto;
  background: #f7934b;
  border: 0;
  outline: none;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
}

span {
  color: #a42626;
  font-size: 12px;
  position: absolute;
  bottom: 68px;
}

.forget {
  margin-left: 195px;
  text-decoration: none;
  color: black;
  opacity: 0.5;
  font-size: 12px;
  margin-bottom: 100px;
  font-family: "Josefin Sans", sans-serif;
}
