@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


footer {
    background: #B5D1D4;
    padding-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    text-align: center;
    margin-top: 0px;
    height: 70px;
    bottom: 0px;
}

footer ul {
    list-style-type: none;

}
footer a {
    text-decoration: none; 
    color: black;
    padding-top: 30px;
    padding-bottom: 20px;

}

footer ul li {
    display: inline-block;

}

footer p {
  padding-top: 10px;
  color: black;


}

.contactusbottun{
    border: none;
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;

}
.contactusbottun:hover{
    color: #ffffff;
}

/* .close-button{
  position: relative;
  z-index: 10000;
} */